<p><span style="font-size: 18pt;"><strong>Ben Gable WebScraper REST API v1.0</strong></span></p>
<p><em>Created for MassDrop</em></p>
<p><span style="font-size: 14pt;"><strong>Documentation</strong></span></p>
<p><span style="font-size: 12pt;"><strong>POST</strong></span></p>
<ul>
<li><strong>/scrape/[url]</strong>
<ul>
<li>Input
<ul>
<li><strong>url</strong> - The URL to scrape (i.e. <a href="http://www.google.com">www.massdrop.com</a>) - "http://" is automatically prepended.</li>
</ul>
</li>
<li>Output
<ul>
<li><strong>Object</strong>
<ul>
<li><strong>jobID</strong> - The job ID to use with /getJob</li>
<li><strong>result</strong> - 1 if success, 0 if not</li>
<li><strong>errorMessage</strong> - An error message</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<p><span style="font-size: 12pt;"><strong>GET</strong></span></p>
<ul>
<li><strong>/getjob/[jobID]/[preview]</strong><br />
<ul>
<li>Input
<ul>
<li><strong>jobID</strong> - The jobID to fetch</li>
<li><strong>preview</strong>- &nbsp;Set to 1 to attempt to display the HTML in the browser</li>
</ul>
</li>
<li>Output<br />
<ul>
<li><strong>Object</strong>
<ul>
<li><strong>jobID -&nbsp;</strong>The job ID requested</li>
<li><strong>result</strong> - 1 if success, 0 if not</li>
<li><strong>errorMessage - </strong>An error message</li>
<li><strong>data -&nbsp;</strong>The HTML</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<p><span style="font-size: 12pt;"><strong>EXAMPLE</strong></span></p>
<p><span style="font-size: 12pt;"><a href="http://52.25.243.54/getjob/0">http://52.25.243.54/getjob/0</a></span></p>
<p><span style="font-size: 12pt;"><a href="http://52.25.243.54/getjob/0/1">http://52.25.243.54/getjob/0/1</a></span></p>